html, body {
    background: blue;
    height: 100%;
}

body{
    font-family: 'Kino MT', 'Times New roman', Times, serif;
    color: white;
}

a:link{
    color:yellow;
}

a:visited{
    color: orange;
}
